@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" ,sans-serif;
}

body,
html{
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    /* cursor: none; */
    /* background-color: black; */
    
}
a{
    color: white;
    text-decoration: none;
    transition: all ease-in 0.3s;
    z-index: 9;
    display: flex;
}
/* a:hover{
    color: rgb(114, 112, 112);
    
} */
h4{
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 1px;
}

::selection{
    color: black;
    background: #dfdcdc;
}

.circle{
    
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    position: fixed;
    /* background-color: rgba(255, 255, 255, 0.234); */
    /* backdrop-filter: blur(1px); */
    background-color: white;
    z-index: 999;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;

}
main{
    background-color: black;
}


.bounding{
    width: fit-content;
    /* background-color: red; */
    overflow: hidden;
}

.boundElem{
    transform: translateY(100%);
}

.frame span{
    text-align: right;
    font-size: 9vw;
    height: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: aqua; */
    padding: 0.4vw 3vw;
    width: fit-content;
}

.frame{
    position: relative;
    height: 9vw;
    /* background-color: red; */
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
    
   
}




/* loader */

.loadNo{
    padding: 1vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loadNo__p{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loadNo__p h4{
    font-size: 1.6vw;
}

.loadNo__p1{
    width: 15%;
}
.loadNo__p2{
    width: 30%;
}
.loadNo__p3{
    width: 20%;
}
/* loader end */



.page1{
    
    
    width: 100%;
    height:98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 
    position: relative;
}

nav{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 3vw;
   background-color: transparent;
   position: fixed;
   z-index: 9;

}

nav h4{
    cursor: pointer;
    
}


.p1body{
    /* border: 1px solid red; */
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 1vw 3vw;
    margin-top: 5vw;
}

.p1body .heading{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
  
  
}
.heading h1{
    cursor: pointer;
    font-size: 9vw;
    line-height: 1;
    /* padding-left: 3vw; */
    /* opacity: 0.65; */
   
}

.headingp2{
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.headingbase{
    width: 100%;
    height: 20vh;
    line-height: 1.3vw;
   
     display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.p1bottom{
    /* border: 1px solid red; */
    width: 100%;
    padding: 3vw 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2vw;
    width: 30%;
}
.p1bottom>h4{
    width: 25%;
    cursor: pointer;
    /* border: 1px solid red; */
}
.p1bottom .arrows{
    width: 25%;
    height: 2vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}



/* menu */
.menu{
  
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    padding: 4vw 3vw;
    background-color: rgba(5, 5, 5, 0.797);
    backdrop-filter: blur(100px);
    transform: translateX(100%);
    z-index: 99;
    overflow: hidden;
}
.blackscreen{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform: translateX(100%);
    z-index: 99;
}
.menunav{
    width: 95vw;
    position: absolute;
    top: 0;
    padding-right: 3vw ;

}

.left-menu{
    /* border: 1px solid red; */
    height: 72vh;
    width: fit-content;
    border-right: 1px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 0.5vw;

}
.left-menu h1 span{
    cursor: pointer;
    font-size: 7.7vw;
    line-height: 1;
    /* padding-left: 3vw; */
    /* opacity: 0.5; */
    /* font-weight: 900; */
    
}

.left-menu h1 .boundElem{
    /* width: 95%; */
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
}
.right-menu{
    /* border: 1px solid red; */
    height: 72vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.right-menu h1{
    font-size: 6vw;
    font-weight: 400;
    opacity: 0.4;
    cursor: pointer;
    transition: all ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.right-menu h1:hover{
    
    color: wheat;
}

/* .logo img{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    filter: invert(100%);
} */


/* end menu */


/* page2 */
.page2{
    background-color: black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 4vw 3vw;
    position: relative;

}
.element{
    width: 100%;
    position: relative;
    padding: 2vw 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #888;
    /* background-color: red; */
    cursor: pointer;
}

.element h1{
    font-size: 7vw;
    font-weight: 500;
    opacity: 0.7;
}
.element span{
   width: 2vw;
   position: relative;
}
.element span img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
    opacity: 1;
    z-index: 9;

}


.element img{
  
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 99999;
    position: absolute;
    transform: translate(-50%, -50%);
}

.element:last-child{
    border-bottom: 1px solid #888;
}



form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.7vw; 
    padding-left: 2vw; 
}
input ,textarea{
    background-color: #3c3a3a6a;
   
    padding: 1vw 1vw;
    border-radius: 1vw;
    border: none;
    color: #fff;
    font-size: 1vw;
}
textarea{
    height: 20vh;
}

form button{
    padding: 1vw 1vw;
    background-color: transparent;
    font-size: 1.6vw;
    color: #fff;
    border-radius: 1vw;

    border: 1px solid #888;
   
}
form button:hover{
   color: #888; 
}
/* page2 end */

/* page3 */
.page3{
    width: 100%;
    height: 85vh;
    background-color: black;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top:10vh;
    padding-bottom: 5vh;

}

.page3 .imgcontainer{
    width: 20vmax;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    
}

.imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    /* border-radius: 50%; */ 
}
.imgcontainer h2{
    padding-top: 2vw;
    /* margin-top: 2vw; */
}
.page3 .about{
    width: 40%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction:column;
    align-items: flex-start; 
}
.about p{
    font-size: 1.1vw;
    font-weight: 400;
    margin-bottom: 2vw;
    letter-spacing: 1px;
}

.about h4{
    opacity: 0.75;
    line-height: 1.5vw;
    word-spacing: 2px;
    letter-spacing: 2px;
    display: inline-block;
}

.about h4 span{
    opacity: 0.3;
    font-size: 1.1vw;
}
.about .btn-con{
    margin: 2.5vw 0;
    border: 1px solid #dfdcdc;
    padding: 1vw 2vw;
   
    
}

/* page3 end */



/* page 4 project */


.page4{
        width: 100%;
        min-height: 130vh;
        position: relative;
        background-color: black;
    
}

.textContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    position: absolute;
    top: 25%;
}
.textContainer h1{
    font-size: 12vw;

}
.textContainer p{
    font-size: 1.5vw;
}

.pages{
    width: 100%;
    height: 80vh;
    /* border: 2px solid red; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;


}

.pages-body{
    width: 100%;
    height: 100%;
    position: relative;
}
.pages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(80%);
}

.pro-bottom h1{
    font-size: 9vw;
    color: #3c3a3a6a;
    /* -webkit-text-stroke: 1px rgba(53, 51, 51, 0.311); */
    filter: drop-shadow(10px 10px 10px black);
    /* backdrop-filter: blur(4px); */
    position: absolute;
    bottom: 6%;
    left: 1%;
    font-weight: 700;
    text-transform: capitalize;
}
.pro-bottom h4{
    font-size: 3vw;
    color: #3c3a3a6a;
    /* -webkit-text-stroke: 1px rgba(53, 51, 51, 0.311); */
    filter: drop-shadow(10px 10px 10px black);
    /* backdrop-filter: blur(4px); */
    position: absolute;
    top: 6%;
    right: 1%;
    font-weight: 700;
    text-transform: uppercase;
}




#page1{
    top:100%;
}
#page2{
    top:200%;
}
#page3{
    top:210%;
}




/* page4 end */

/* mini project page */
.mini-project-page{
    width: 100%;
    /* height: 140vh; */
    background-color: #dfdcdc;
}
.image-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    padding-top: 3vw;
}
.img-row{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2vw;
    position: relative;
}

.mini-pro-title h1{
    color: black;
    font-size: 4vw;
    line-height: 1;
}
.img-row-container{
    width: 100%;
    max-height:75vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img-row-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all ease 0.1s;
}

.black-screen{
    width: 100%;
    height: 100%;
    background-color: #1111111e;
   
    position: absolute;
    transition: all ease 0.4s;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 4vw;
}

.black-screen .open-project{
    color: #fcf9f99e;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 1.5vw;
   
}
.black-screen .view-repo{
    color: #fcf9f99e;
    position: absolute;
    bottom: 2vw;
    right: 1%;
    font-size: 1.5vw;
    
}

.black-screen .project-name{
    letter-spacing: 0.4vw;
    width: 100%;
    font-size: 1.4vw;
    padding: 1vw 0;
    text-align: center;
    background-color: #111111ba;
    backdrop-filter: blur(1px);
}
.black-screen h2{
    width: 90%;
    font-weight: 500;
    line-height: 2.5vw;
    word-spacing: 5px;
    font-size: 2.4vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all ease 0.5s;
}

.black-screen .pro-dest{
    text-align: center;
    opacity: 0;
}
.black-screen h2 span{
    font-size: 1.2vw;
    
}
.img-row-container:hover .black-screen{
    background-color: #111111ba;
    backdrop-filter: blur(2px);
}
.img-row-container:hover .black-screen h2{
    opacity: 1;
}
.img-row-container:hover .black-screen .pro-dest{
    opacity: 1;
}

.img-row-container:hover img{
    transform: scale(1.2);
}

/* end mini project page */

footer{
    width: 100%;
    height: 15vh;
    padding: 4vw 3vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

footer .left-footer ,.right-footer{
    display: flex;
    gap: 1vw;
}


/* page5 */

.page5{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(153, 228, 203); */
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page5 h1{
    color: black;
}

.top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: black;
    overflow: hidden;
    z-index: 1;
    
}
.bottum{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: black;
    overflow: hidden;
    z-index: 99;

}
.center{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2vw 4vw;
    background-color: black;
    /* display: flex; */
    gap: 5vw;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;

}
.switch-skill-header{
    display: flex;
    gap: 3vw;
    /* text-decoration: underline; */
}

.switch-skill-body{
    width: 100%;
   
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.switch-skill-body h2{
 text-align: center;
}


.page5 h1{
    font-size: 20vw;
    font-weight: 900;
  
}
#top-h1{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);   
}
#bottum-h1{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title-p5{
    padding-top: 10vh;
    margin-top: 10vh;
    font-size: 4vw;
    height: fit-content;
    overflow: hidden;
}
.skill-container{
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.skill-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    
}

.sk{
    padding: 0.6vw 1.1vw;
    /* border: 1px solid #fff; */
    background-color: #3c3a3a6a;
    font-size: 2vw;
    color: #ffffffd5;
    border-radius: 1vw;
    text-transform: uppercase;
    transition: all ease-in 0.4s;
    cursor: pointer;
    filter: blur(10px);
    opacity: 0;
    transition: all ease 0.4s;
}
.sk:hover{
    background-color: #dfdcdc9c;
    color: black;
    font-weight: 600;
  
}


/* page5 end */
/* page5-skill */

.page5-skill{
    width: 100%;
    height: 100vh;
    
    position: relative;
    
}
.marque{
    white-space: nowrap;
    overflow-x: hidden;

}
.marque h1{
    font-size: 7vw;
    margin-right: 24px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-style: normal;
    animation-name: marque;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    line-height: 1.2;
    overflow: hidden;
   
   
}
.marque h1 span{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-family: "Silk Serif";
}

.marque2 h1{
    animation-direction: reverse;
    animation-duration: 15s;
}

@keyframes marque {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX( calc(-100% - 28px));
    }
    
}
/* page5 end */

/* page5 end */


/* page6 education */
.page6{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}
.page6 h1{
    font-size: 26vw;
    color: #fff;
    text-transform: uppercase;
    padding: 2vw 5vw;
    /* transform: translateX(-50%); */
}

.page6 .edu-box{
    background-color: #3c3a3a6a;
    backdrop-filter: blur(20px);
    min-width: 18vw;
    height: 14vh;
    padding: 1vw 1.4vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5vw;
    position: absolute;
    transform: translate(100% ,100%);
    overflow: hidden;
    
}

.box-body{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1.3vw;
    
}

.edu-box span{
    font-size: 1vw;
    font-weight: 400;
    color: #888;
    
}
.edu-box h4{
    font-size: 1.1vw;
}
h4.clg-name{
    opacity: 0;
}
#hsc{
    bottom: 15%;
    left: 20%;
}
#bca{
    top: 15%;
    left: 45%;
}
#mca{
    bottom: 15%;
    left: 65%;
}

/* end page6 */



/* button hover  */


.frameFor h3{
    font-weight: 600;
    text-align: center;
    font-size: 1vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
    /* background-color: aqua; */
    padding: 0.4vw 0;
}

.frameFor h4{
    text-align: center;
    font-size: 1vw;
    height: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
    /* background-color: aqua; */
    padding: 0.4vw 0;
}
.frameFor{
    position: relative;
    height: 1.2vw;
    /* background-color: red; */
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   
}

/* button hover end */

